@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --bg: #5d89ea;
    --card: #292d2f99;
    --accent: #3b724f;
    --muted: #9ca3af;
    --good: #10b981;
    --bad: #ef4444;
    --text: #e7edf4;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


body {
    background: linear-gradient(180deg, #5d89ea 0%, #5d89ea 100%);
    color: var(--text);
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.card {
    background: var(--card);
    padding: 28px;
    border-radius: 14px;
    width: 900px;
    max-width: 96vw;
    box-shadow: 0 10px 30px rgba(2, 6, 23, 0.6);
}

h1 {
    margin: 0 0 12px 0;
    font-size: 20px;
}

.meta {
    display: flex;
    gap: 12px;
    margin-bottom: 18px;
    align-items: center;
    flex-wrap: wrap;
}

.stat {
    background: rgba(255, 255, 255, 0.03);
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 600;
}

.text-area {
    background: #071428;
    padding: 16px;
    border-radius: 10px;
    min-height: 120px;
    line-height: 1.6;
    font-size: 18px;
    color: var(--muted);
    overflow: auto;
    white-space: pre-wrap;
    margin-bottom: 12px;
}

.controls {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    
}

button {
    background: var(--accent);
    color: white;
    border: 0;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

button.secondary {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.input-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

input#typed {
    flex: 1;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: transparent;
    color: white;
    font-size: 16px;
    height: 100px;
}

.char.correct {
    color: var(--good);
    background: rgba(16, 185, 129, 0.06);
}

.char.incorrect {
    color: var(--bad);
    background: rgba(239, 68, 68, 0.06);
}

.char.current {
    border-bottom: 2px solid var(--accent);
}

.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    gap: 12px;
    flex-wrap: wrap;
}

.small {
    color: var(--muted);
    font-size: 13px;
}

.result {
    padding: 10px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
    min-width: 200px;
    text-align: center;
}

.green {
    color: var(--good);
    font-weight: 700;
}

.red {
    color: var(--bad);
    font-weight: 700;
}

@media (max-width:720px) {
    .meta {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-row {
        flex-direction: column;
        align-items: flex-start;
    }
}