@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --bg: #ffffff;
    --muted: #9ca3af;
    --fg: #000000;
    --bg2: #e9f5ff;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body.dark-mode {
    --bg: #111111;
    --fg: #e6e6e6;
    --muted: #555;
    --bg2: #1f3540;
}


body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: var(--bg);
    color: var(--fg);
}


.container {
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: var(--fg);
}

h3 {
    text-align: center;
}

form {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

input,
select,
button {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    display: inline;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: rgb(128, 122, 122);
}

button:hover {
    background-color: #86ccef;
}

#book-list li {
    list-style: none;
    background: var(--bg2);
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100px;
}

.rating {
    display: inline-flex;
    gap: 2px;
}

.star {
    font-size: 10px;
    background: none;
    cursor: pointer;
    color: gray;
    transition: color 0.2s;
}

.start.selected,
.star.hover {
    color: gold;
}

.star:focus {
    outline: 2px solid #ffa500;
}

.toc {
    max-width: var(--max-width);
    padding: 50px;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.toc a {
    color: var(--muted);
    text-decoration: none;
    font-size: .95rem;
}

.hidden {
    display: none;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #397e9c;
    display: flex;
    justify-content: center;
    z-index: 1000;
    align-items: center;
    transition: transform .15s ease, box-shadow .15s ease;
}

.topbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 14px;
}

.topbar a:hover {
    background-color: #bbb8b8;

}

.book-card{
    padding: 10px 20px; 
    background-color: #007bff; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    line-height: 1; 

}

